<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DST Admin - Login</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('.static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('.static', filename='css/sb-admin-2.min.css')}}" rel="stylesheet" type="text/css">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Admin</h1>
                                    </div>
                                    <form  method="post" action="{{ url_for('login') }}">
                                        {{ form.csrf_token }}
                                          <div class="form-group">
                                              {{ form.username (placeholder="Username", class="form-control mb-2 border border-primary text-center", required="true") }}
                                              {{ form.password (placeholder="Password", class="form-control mb-2 border border-primary text-center", required="true") }}
                                              <!-- <input placeholder="Username" type="text" class="form-control mb-2 border border-primary">
                                              <input placeholder="Password" type="password" class="form-control mb-2 border border-primary"> -->
                                          </div>
                                          <!-- <input type="submit" name="login" hidden="true"> -->
                                        <!-- <a href="/home" class="btn btn-primary rounded-pill" style="margin-left: 3	0%; width: 40%;">Log In</a> -->
                                        <button type="submit" class="btn btn-primary rounded-pill" style="margin-left: 30%; width: 40%;">Log In</button>
                                    </form>
                                
                                    <div class="text-center">
                                        
                                    </div>
                                    <div class="text-center">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>