 <!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('p_dashboard') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <!--<i class="fas fa-laugh-wink"></i>-->
        </div>
        <div class="sidebar-brand-text mx-3"> Decision Support Tool</div>
    </a>

    <!-- Divider -->
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <span class="hovertext" data-hover="Investment model displays which land cover scenario has the highest decreased flood risk when reforested and its cost">
        <a class="nav-link" href="{{ url_for('p_dashboard') }}">
            
            <span>Investment Model</span></a>
        </span>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
       
    </div>

    <!-- Nav Item - Pages Collapse Menu -->


    <!-- Heading -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <span class="hovertext" data-hover="Flood Model shows the temporal land cover scenario per hectare, its cost, and the amount of flood reduced in depth.">
        <a class="nav-link" href="{{ url_for('p_landcover') }}">  <span>Flood Model</span></a>
        </span>
        <!--<a class="nav-link" href="{{ url_for('rainscenario') }}">  <span>Rainfall Scenario</span></a>-->
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <span class="hovertext" data-hover="Erosion Model shows the amout of reduced soil erosion when land cover areas are reforested">
        <a class="nav-link" href="{{ url_for('p_erosion') }}">
            
            <span>Erosion Model</span></a>
            </span>
    </li>

    <hr class="sidebar-divider">

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <span class="hovertext" data-hover="Dry-Season Flow Model shows the amount of river flow when land cover areas are reforested">
        <a class="nav-link" href="{{ url_for('p_dry_season') }}">
            
            <span>Dry Season Flow Model</span></a>
            
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" href="{{ url_for('p_about') }}">
            
            <span>About</span></a>
            
    </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
<!--
     Sidebar Message 
    <div class="sidebar-card d-none d-lg-flex">
        
        <a class="btn btn-danger btn-sm" href="{{ url_for('logout') }}">Log Out</a>
    </div>
-->

</ul>


<!-- End of Sidebar -->


